body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddebe1;
  margin-top: 50px;
}

.container {
  background-color: #18244d;
  display: flex;
  justify-content: space-around;
  width: 575px;
  height: 385px;
  border: 5px solid white;
}

.home,
.guest {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  /* border: 2px solid green; */
}

.lable {
  margin-top: 30px;
  font-size: 2.5rem;
  /* border: 2px solid white; */
  margin-block-end: 0;
}

.homeScore {
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-size: 5rem;
  color: red;
  width: 155px;
  height: 120px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: black;
}

.guestScore {
  background-color: black;
   text-align: center;
  font-family: Orbitron, sans-serif;
  font-size: 5rem;
  color: red;
  width: 155px;
  height: 120px;
  border: 2px solid black;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.home1,
.home2,
.home3,
.guest1,
.guest2,
.guest3 {
  font-family: Arial, sans-serif;
  border: 2px solid white;
  background-color: #18244d;
  color: white;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.newGame {
  position: absolute;
  background-color: #18244d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBtn {
  margin-top: 320px;
  font-family: Arial, sans-serif;
  background-color: #18244d;
  border: 2px solid white;
  font-size: 1 rem;
  font-weight: bold;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
